body{
    width:1080px;
    margin: auto;
    background-color: bisque
}

header{
    background-color: rgb(139, 151, 151);
    text-align: right;
    height: 100px;
    margin: 30px;
}

#logo{
    float: left;
    margin: 20px 30px 30px 30px;
}

 header section {
    height: 100px;
}

header section span{
    margin: 20px;
}


#spans{
    padding: 70px 30px 30px 30px;
}



#hero{
    margin: 30px 60px 0 60px;
}

#imgAndDivHolder{
    margin: 30px 60px 0 60px;
}


#img1{
    float: left;
}



#img2{
    float: right;
}

#img3{
    float: left;
    margin-left: 30px

}

#img4{
    float: left;
    margin: 30px 30px 30px 60px;
}

div{
    margin: 20px;
    float: left;
    width: 200px;
    height: 300px;
    text-align: justify;
    text-justify: inter-word;
}

#text2{
    margin: 30px 30px 30px 30px;
    text-align: justify;
    text-justify: inter-word;
}

footer{
    padding: 30px;
    text-align: center;
    background-color: rgb(139, 151, 151);
}

footer span{
    margin: 50px;
}